<span class="highlight"><slot /></span>

<style>
  .highlight {
    color: var(--flexoki-cyan-600);
    background: var(--flexoki-yellow-100);
    padding: 0 8px 4px;
    border-radius: 4px;
  }
</style>
