<span class="highlight"><slot /></span>

<style>
  .highlight {
    color: var(--color-crimson);
    background: var(--color-light-salmon);
    padding: 0 8px 4px;
    border-radius: 4px;
  }
</style> 