<p class="small-caps"><slot /></p>

<style>
  .small-caps {
    font-size: var(--font-size-xs);
    font-family: var(--font-sans);
    font-weight: 700;
    color: var(--flexoki-800);
    text-transform: uppercase;
    letter-spacing: 0.06rem;
  }
</style>
