<h2 class="small-title2"><slot /></h2>

<style>
  .small-title2 {
    font-family: var(--font-sans);
    font-size: var(--font-size-md);
    color: var(--flexoki-800);
    font-weight: 300;
    line-height: var(--leading-loose);
  }
</style> 