<h4 class="title4"><slot /></h4>

<style>
	.title4 {
		font-size: var(--font-size-md);
		font-family: var(--font-sans);
		color: var(--flexoki-800);
		font-weight: 300;
		line-height: var(--leading-tight);
	}
</style>

