<h1 class="title1"><slot /></h1>

<style>
	.title1 {
		font-size: var(--font-size-3xl);
		font-family: var(--font-serif);
		line-height: var(--leading-tighter);
		font-weight: normal;
		margin-bottom: var(--space-s);
		max-width: 1200px;
	}

	@media screen and (max-width: 768px) {
		.title1 {
			font-size: var(--font-size-2xl);
			max-width: 100%;
			margin-bottom: var(--space-xs);
		}
	}
</style>
