<div class="box" id="color-box"></div>

<script>
	const box = document.getElementById("color-box");

	const observer = new IntersectionObserver(
		([entry]) => {
			if (entry.isIntersecting) {
				box?.classList.add("animate");
			} else {
				box?.classList.remove("animate");
			}
		},
		{
			threshold: 0.5,
			rootMargin: "-30% 0px",
		},
	);

	if (box) {
		observer.observe(box);
	}
</script>

<style>
	.box {
		width: 100px;
		height: 100px;
		margin: 2rem auto 0;
		border-radius: 4px;
		background: #d93654;
		transition: background-color 0.5s ease-out;
	}

	.box.animate {
		background: #93d0d9;
	}
</style>
