---
import Layout from "../../layouts/Layout.astro";
import Title1 from "../../components/mdx/typography/Title1.astro";
import Title2 from "../../components/mdx/typography/Title2.astro";
import Title3 from "../../components/mdx/typography/Title3.astro";
import PageWrapper from "../../components/layouts/PageWrapper.astro";
import ProseWrapper from "../../components/layouts/ProseWrapper.astro";
import TooltipLink from "../../components/mdx/TooltipLink.astro";
import Content from "./colophon-content.mdx";
import type { MDXComponents } from "mdx/types";

const components: MDXComponents = {
	h1: Title1,
	h2: Title2,
	h3: Title3,
	a: TooltipLink,
};
---

<Layout title="Colophon of Tim Koval">
	<PageWrapper>
		<header style="margin: var(--space-xl) auto; max-width: 800px">
			<Title1>Colophon</Title1>
			<Title2>
				A <i>colophon</i> is a publisher's term for 'how this site was made'
			</Title2>
		</header>
		<section style="margin: var(--space-xl) auto; max-width: 800px">
			<ProseWrapper>
				<Content components={components} />
			</ProseWrapper>
		</section>
	</PageWrapper>

	<style>
		@media (max-width: 768px) {
			header {
				margin: var(--space-m) 0;
				max-width: 100%;
			}
			section {
				max-width: 100%;
			}
		}
	</style>
</Layout>
