<div class="container">
	<div class="text text-1">Unless</div>
	<div class="text text-2">you</div>
	<div class="text text-3">want</div>
	<div class="text text-4">to</div>
	<div class="text text-5">get</div>
	<div class="text text-6">weird</div>
	<div class="text text-7">and</div>
	<div class="text text-8">hacky</div>
	<div class="text text-9">with the</div>
	<div class="text text-10">formatting</div>
</div>

<style>
	.container {
		position: relative;
		top: 0;
		left: 0;
		height: 400px;
		width: 100%;
		margin-bottom: 2rem;
		font-family: var(--font-body);
	}

	.text {
		position: absolute;
	}

	.text-1 {
		top: 30px;
		left: 30px;
	}

	.text-2 {
		top: 80px;
		left: 100px;
	}

	.text-3 {
		top: 100px;
		left: 150px;
	}

	.text-4 {
		top: 150px;
		left: 160px;
	}

	.text-5 {
		top: 180px;
		left: 120px;
	}

	.text-6 {
		top: 200px;
		left: 240px;
		transform: rotateZ(-15deg);
	}

	.text-7 {
		top: 220px;
		left: 300px;
	}

	.text-8 {
		top: 270px;
		left: 400px;
		transform: rotateZ(10deg);
	}

	.text-9 {
		top: 290px;
		left: 490px;
	}

	.text-10 {
		top: 350px;
		left: 420px;
	}
</style>
