---
import { Icon } from "astro-icon/components";
import UnderlineHoverLink from "../mdx/UnderlineHoverLink.astro";
---

<footer class="styled-footer" transition:persist>
	<div class="footer-content">
		<div class="rss-feed">
			<h3>Want to stay up to date?</h3>
			<a href="/rss.xml">
				<button>
					<Icon name="heroicons:rss-20-solid" size={20} />
					Subscribe via RSS Feed
				</button>
			</a>
			<div class="social-media-icons">
				<a rel="me" href="https://github.com/timkoval">
					<Icon name="github" size={32} />
				</a>
				<a rel="me" href="https://linkedin.com/in/timkoval">
					<Icon name="linkedin" size={32} />
				</a>
				<a rel="me" href="https://x.com/timkoval00">
					<Icon name="x" size={32} />
				</a>
				<!-- <a rel="me" href="https://indieweb.social/@maggie">
					<Icon name="mastodon" size={32} />
				</a> -->
			</div>
			<span class="copyright">
				Inspired by MaggieAppleton's website design © {new Date().getFullYear()} Tim Koval
			</span>
		</div>
		<ul class="sitemap-list">
			{
				[
					{ text: "The Garden", slug: "/garden" },
					{ text: "About", slug: "/about" },
					{ text: "Innovations & Discoveries", slug: "/projects" },
					{ text: "Exploration Notes", slug: "/notes" },
					{ text: "Tech Life Chronicles", slug: "/chronicles" },
					{ text: "Colophon" , slug: "/colophon" },
					{ text: "Resources", slug: "/resources" },
					// { text: "Now", slug: "/now" },
				].map((link) => (
					<li>
						<span>
							<UnderlineHoverLink href={link.slug}>{link.text}</UnderlineHoverLink>
						</span>
					</li>
				))
			}
		</ul>
	</div>
</footer>

<style>
	.social-media-icons {
		display: flex;
		align-items: center;
		margin: var(--space-m) 0 var(--space-2xs);
		grid-gap: var(--space-xs);
	}

	.social-media-icons a {
		color: var(--flexoki-400);
		padding: 0;
		margin: 0;
		display: block;
	}

	.social-media-icons [data-icon] {
		color: var(--flexoki-400);
		transition: all 0.3s ease-in-out;
	}

	.social-media-icons a:hover [data-icon] {
		color: var(--flexoki-magenta-600);
	}

	.rss-feed h3 {
		font-size: var(--font-size-md);
		font-family: var(--font-body);
		font-weight: 300;
		margin-bottom: var(--space-xs);
	}

	.rss-feed button {
		display: inline-flex;
		margin-left: -0.1rem;
		align-items: center;
		gap: var(--space-3xs);
		padding: var(--space-3xs) 1.2rem;
		background: none;
		border: 1px solid var(--flexoki-200);
		border-radius: 3rem;
		font-family: var(--font-sans);
		font-size: var(--font-size-sm);
		font-weight: 400;
		color: var(--flexoki-600);
		transition: all 0.3s ease-in-out;
	}

	.rss-feed button:hover {
		cursor: pointer;
		color: var(--flexoki-cyan-600);
		border: 1px solid var(--flexoki-cyan-600);
		box-shadow: var(--box-shadow-sm);
	}

	.rss-feed .copyright {
		font-size: var(--font-size-xs);
		font-family: var(--font-sans);
		font-weight: 400;
		color: var(--flexoki-500);
	}

	.sitemap-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		list-style: none;
		grid-gap: var(--space-3xs) var(--space-l);
		padding-inline-start: 0;
	}

	.sitemap-list li span :global(.styled-link span) {
		color: var(--flexoki-600);
		font-size: var(--font-size-sm);
		font-family: var(--font-sans);
		display: block;
	}

	.footer-content {
		display: grid;
		grid-template-columns: 2fr 1fr;
		max-width: 1400px;
		margin: var(--space-m) auto;
		padding: 0 var(--space-l);
	}

	@media (max-width: 768px) {
		.footer-content {
			margin: var(--space-m) auto;
			padding: 0 var(--space-m);
			grid-template-columns: 1fr;
		}
	}

	@media (max-width: 480px) {
		.footer-content {
			margin: var(--space-xs) auto;
			padding: 0 var(--space-xs);
			grid-template-columns: 1fr;
		}
	}

	.styled-footer {
		padding: var(--space-xl) 0;
		border-top: 1px solid var(--flexoki-300);
		z-index: -1;
	}
</style>
