---
import Layout from "../layouts/Layout.astro";
import Title1 from "../components/mdx/typography/Title1.astro";
import Title2 from "../components/mdx/typography/Title2.astro";
import SmallCaps from "../components/mdx/typography/SmallCaps.astro";
import UnderlineHoverLink from "../components/mdx/UnderlineHoverLink.astro";
import PageWrapper from "../components/layouts/PageWrapper.astro";
import { Image } from "astro:assets";
import Casual from "../images/general/casual.jpg";
// import Scarf from "../images/general/Scarf_1000.jpg";
// import Brown from "../images/general/Brown_1000.jpg";

const photoSources = [Casual];
---

<script>
	const photos = document.querySelectorAll(".random-photo");
	const randomIndex = Math.floor(Math.random() * photos.length);

	// Hide all photos except the random one
	photos.forEach((photo, index) => {
		if (index === randomIndex) {
			photo.style.display = "block";
		}
	});
</script>

<Layout title="About Tim Koval" desc="Edge Devices & Robotics Engineer.">
	<PageWrapper>
		<div class="header-section">
			<SmallCaps>About</SmallCaps>
			<Title1>Tim Koval</Title1>
			<Title2>Edge Devices & Robotics Engineer.</Title2>
		</div>
		<div class="styled-main">
			<section class="intro">
				<div>
					<SmallCaps>A Little Context</SmallCaps>
					<p>
						I sit at the intersection of design, anthropology, and programming. These three are at
						the core of everything I make. Combining them into a coherent career is a weird and
						ongoing challenge.
					</p>
					<p>
						Titles and disciplines are fickle and fleeting. But my work fits under the umbrellas of
						UX design, visual interface design, and DX (developer experience). With some cultural
						analysis, writing, and visual illustration sprinkled on top.
					</p>
					<p>
						I'm a lead design engineer at
						<UnderlineHoverLink href="https://normally.com"> Normally </UnderlineHoverLink>
						, a research and design studio building mindful AI into all kinds of products and services.
					</p>
					<p>
						Before that I was the founding designer at
						<UnderlineHoverLink href="https://elicit.com"> Elicit </UnderlineHoverLink>
						, a tool that uses machine learning and language models to improve the systematic review
						process for researchers and scientists.
					</p>
					<p>
						Before Elicit I was head of design at{" "}
						<UnderlineHoverLink href="https://hash.ai"> HASH </UnderlineHoverLink>{" "}
						– a company developing an open-source platform to improve the way we structure knowledge
						on the web.
					</p>
					<p>
						Before that I spent five years at the developer education company{" "}
						<UnderlineHoverLink href="https://egghead.io"> egghead </UnderlineHoverLink>{" "}
						as the art director and UX designer. It was there that I developed a system for visualising
						programming concepts through metaphors and cultural symbols.
					</p>
					<p>
						On the side I create <UnderlineHoverLink href="/essays"
							>illustrated essays</UnderlineHoverLink
						> and visual explanations about programming and culture. I'm an advocate of{
							" "
						}<UnderlineHoverLink href="/garden-history">digital gardening</UnderlineHoverLink>,{
							" "
						}<UnderlineHoverLink href="https://en.wikipedia.org/wiki/End-user_development"
							>end-user programming</UnderlineHoverLink
						>
						, and expanding our use of{" "}<UnderlineHoverLink
							href="https://en.wikipedia.org/wiki/Embodied_cognition"
							>embodied cognition</UnderlineHoverLink
						>{" "}and{" "}<UnderlineHoverLink
							href="https://en.wikipedia.org/wiki/Conceptual_metaphor"
							>conceptual metaphors</UnderlineHoverLink
						>{" "}in digital interfaces.
					</p>
					<SmallCaps>A Little History</SmallCaps>
					<p>
						I'm originally from London but grew up in international schools in Hong Kong, Vietnam,
						Thailand, and Singapore.
					</p>
					<p>
						{" "}
						I earned my undergraduate degree in{" "}
						<UnderlineHoverLink href="https://en.wikipedia.org/wiki/Cultural_anthropology">
							cultural anthropology
						</UnderlineHoverLink>{" "}
						at a small, hippie, liberal arts college in the United States. While I adore anthropology,
						it's not terribly employable (unless you want to be an academic or a military advisor) and
						I promptly switched into freelance design and illustration to pay rent. I started developing
						my visual design skills at age 14 when I first bootlegged a copy of Photoshop to make my
						own icon sets, but never realised you could get paid for that.
					</p>
					<p>
						In my early twenties I country-hopped while working through the early, ugly, awkward
						phase of my design sensibilities. I worked with web developers in Vietnam, trained with
						feature film illustrators in Los Angeles, and learned typography and brand design at
						creative agencies in Prague. I made a lot of hideous stuff, but figured out what I liked
						along the way.
					</p>
					<p>
						I eventually returned to London to become a more settled, "normal" adult, and have come
						to love the dull stability of home.
					</p>
				</div>
				{
					photoSources.map((photo, index) => (
						<Image
							src={photo}
							alt="a photo of maggie appleton"
							width={800 / 1.25}
							height={1200 / 1.25}
							style={`object-fit: contain; display: none;`}
							class="random-photo"
							id={`photo-${index}`}
						/>
					))
				}
			</section>
		</div>
	</PageWrapper>
</Layout>

<style>
	.header-section {
		margin: var(--space-m) auto 0;
	}
	.header-section :global(.small-caps) {
		margin-bottom: var(--space-3xs);
		color: var(--color-gray-600);
	}
	.header-section h1 {
		margin-bottom: var(--space-s);
	}
	.header-section h2 {
		color: var(--color-gray-800);
	}

	.styled-main {
		margin-top: var(--space-xs);
		padding: var(--space-xl) 0;
		width: 100%;
	}

	@media (max-width: 768px) {
		.styled-main {
			padding: var(--space-l) var(--space-xs);
		}
	}

	.styled-main img {
		border-radius: 4px;
	}

	.styled-main h2 {
		margin-bottom: var(--space-s);
	}

	.styled-main p {
		line-height: var(--leading-loose);
		max-width: 52ch;
	}

	.styled-main p:not(:last-of-type) {
		margin-bottom: var(--space-s);
	}

	.intro {
		display: grid;
		grid-template-columns: 4fr 3fr;
		gap: var(--space-xl);
		align-items: flex-start;
	}

	.intro :global(.small-caps):not(:first-of-type) {
		margin-top: var(--space-xl);
		color: var(--color-gray-900);
	}

	.intro :global(.small-caps)::before {
		content: "";
		display: inline-block;
		width: 20px;
		clear: both;
		height: 20px;
		margin-right: -1.5rem;
		background-image: url("/images/leaf-icon.svg");
		background-size: contain;
		background-repeat: no-repeat;
		position: relative;
		top: 4px;
		right: 2.25rem;
	}

	@media (max-width: 768px) {
		.intro {
			grid-template-columns: 1fr;
			gap: var(--space-m);
			flex-direction: column;
		}
	}

	.intro :global(.small-caps) {
		margin-bottom: 1.5rem;
	}
</style>
