---
import { Icon } from "astro-icon/components";
---

<div class="back-to-top">
	<button tabindex="-1" id="back-to-top-button">
		Back To Top
		<Icon name="heroicons:chevron-up-solid" width="28" height="28" />
	</button>
</div>

<script>
	document
		.getElementById("back-to-top-button")
		?.addEventListener("click", () => {
			window.scrollTo(0, 0);
		});
</script>

<style>
	.back-to-top {
		position: fixed;
		bottom: 0.6rem;
		left: 0.6rem;
	}

	button {
		display: flex;
		align-items: center;
		gap: 4px;
		border: none;
		cursor: pointer;
		border-radius: 4px;
		padding: 4px 4px 4px 10px;
		background: white;
		font-family: var(--font-sans);
		font-size: var(--font-size-xs);
		color: var(--flexoki-300);
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-weight: 400;
		transition: all 0.3s ease-in-out;
	}

	button :global(svg) {
		transition: all 0.3s ease-in-out;
	}

	button:hover {
		color: var(--flexoki-magenta-600);
		transform: translateY(-4px);
	}

	button:hover :global(svg) {
		color: var(--color-sea-blue);
	}

	@media (max-width: 1100px) {
		.back-to-top {
			display: none;
		}
	}
</style>
