<style>
	.full-width-background {
		width: 100%;
		max-width: 100vw;
		z-index: 0;
		grid-column: 1 / 4 !important;
		margin: var(--space-s) auto var(--space-l);
		background: var(--background, inherit);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>

<section class="full-width-background">
	<slot />
</section>
