<div class="references-container">
    <h3>References and Further Reading</h3>
    <slot />
</div>

<style>
    .references-container {
        display: flex;
        border-top: 1px solid var(--color-tinted-cream);
        flex-direction: column;
        justify-content: center;
        margin: var(--space-l) 0 0;
    }

    .references-container h3 {
        margin-top: var(--space-m);
        font-size: var(--font-size-md);
    }
</style>
