@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

:root {
  /* Spacing */
  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
  --space-48: 3rem;
  --space-64: 4rem;
  --space-80: 5rem;
  --space-96: 6rem;
  --space-128: 8rem;
  --space-160: 10rem;

  /* Flexoki */
  --flexoki-black: #100f0f;
  --flexoki-paper: #fffcf0;

  --flexoki-50: #f2f0e5;
  --flexoki-100: #e6e4d9;
  --flexoki-150: #dad8ce;
  --flexoki-200: #cecdc3;
  --flexoki-300: #b7b5ac;
  --flexoki-400: #9f9d96;
  --flexoki-500: #878580;
  --flexoki-600: #6f6e69;
  --flexoki-700: #575653;
  --flexoki-800: #403e3c;
  --flexoki-850: #343331;
  --flexoki-900: #282726;
  --flexoki-950: #1c1b1a;

  --flexoki-red-50: #ffe1d5;
  --flexoki-red-100: #ffcabb;
  --flexoki-red-150: #fdb2a2;
  --flexoki-red-200: #f89a8a;
  --flexoki-red-300: #e8705f;
  --flexoki-red-400: #d14d41;
  --flexoki-red-500: #c03e35;
  --flexoki-red-600: #af3029;
  --flexoki-red-700: #942822;
  --flexoki-red-800: #6c201c;
  --flexoki-red-850: #551b18;
  --flexoki-red-900: #3e1715;
  --flexoki-red-950: #261312;

  --flexoki-orange-50: #ffe7ce;
  --flexoki-orange-100: #fed3af;
  --flexoki-orange-150: #fcc192;
  --flexoki-orange-200: #f9ae77;
  --flexoki-orange-300: #ec8b49;
  --flexoki-orange-400: #da702c;
  --flexoki-orange-500: #cb6120;
  --flexoki-orange-600: #bc5215;
  --flexoki-orange-700: #9d4310;
  --flexoki-orange-800: #71320d;
  --flexoki-orange-850: #59290d;
  --flexoki-orange-900: #40200d;
  --flexoki-orange-950: #27180e;

  --flexoki-yellow-50: #faeec6;
  --flexoki-yellow-100: #f6e2a0;
  --flexoki-yellow-150: #f1d67e;
  --flexoki-yellow-200: #eccb60;
  --flexoki-yellow-300: #dfb431;
  --flexoki-yellow-400: #d0a215;
  --flexoki-yellow-500: #be9207;
  --flexoki-yellow-600: #ad8301;
  --flexoki-yellow-700: #8e6b01;
  --flexoki-yellow-800: #664d01;
  --flexoki-yellow-850: #503d02;
  --flexoki-yellow-900: #3a2d04;
  --flexoki-yellow-950: #241e08;

  --flexoki-green-50: #edeecf;
  --flexoki-green-100: #dde2b2;
  --flexoki-green-150: #cdd597;
  --flexoki-green-200: #bec97e;
  --flexoki-green-300: #a0af54;
  --flexoki-green-400: #879a39;
  --flexoki-green-500: #768d21;
  --flexoki-green-600: #66800b;
  --flexoki-green-700: #536907;
  --flexoki-green-800: #3d4c07;
  --flexoki-green-850: #313d07;
  --flexoki-green-900: #252d09;
  --flexoki-green-950: #1a1e0c;

  --flexoki-cyan-50: #ddf1e4;
  --flexoki-cyan-100: #bfe8d9;
  --flexoki-cyan-150: #a2dece;
  --flexoki-cyan-200: #87d3c3;
  --flexoki-cyan-300: #5abdac;
  --flexoki-cyan-400: #3aa99f;
  --flexoki-cyan-500: #2f968d;
  --flexoki-cyan-600: #24837b;
  --flexoki-cyan-700: #1c6c66;
  --flexoki-cyan-800: #164f4a;
  --flexoki-cyan-850: #143f3c;
  --flexoki-cyan-900: #122f2c;
  --flexoki-cyan-950: #101f1d;

  --flexoki-blue-50: #e1eceb;
  --flexoki-blue-100: #c6dde8;
  --flexoki-blue-150: #abcfe2;
  --flexoki-blue-200: #92bfdb;
  --flexoki-blue-300: #66a0c8;
  --flexoki-blue-400: #4385be;
  --flexoki-blue-500: #3171b2;
  --flexoki-blue-600: #205ea6;
  --flexoki-blue-700: #1a4f8c;
  --flexoki-blue-800: #163b66;
  --flexoki-blue-850: #133051;
  --flexoki-blue-900: #12253b;
  --flexoki-blue-950: #101a24;

  --flexoki-purple-50: #f0eaec;
  --flexoki-purple-100: #e2d9e9;
  --flexoki-purple-150: #d3cae6;
  --flexoki-purple-200: #c4b9e0;
  --flexoki-purple-300: #a699d0;
  --flexoki-purple-400: #8b7ec8;
  --flexoki-purple-500: #735eb5;
  --flexoki-purple-600: #5e409d;
  --flexoki-purple-700: #4f3685;
  --flexoki-purple-800: #3c2a62;
  --flexoki-purple-850: #31234e;
  --flexoki-purple-900: #261c39;
  --flexoki-purple-950: #1a1623;

  --flexoki-magenta-50: #fee4e5;
  --flexoki-magenta-100: #fccfda;
  --flexoki-magenta-150: #f9b9cf;
  --flexoki-magenta-200: #f4a4c2;
  --flexoki-magenta-300: #e47da8;
  --flexoki-magenta-400: #ce5d97;
  --flexoki-magenta-500: #b74583;
  --flexoki-magenta-600: #a02f6f;
  --flexoki-magenta-700: #87285e;
  --flexoki-magenta-800: #641f46;
  --flexoki-magenta-850: #4f1b39;
  --flexoki-magenta-900: #39172b;
  --flexoki-magenta-950: #24131d;

  /* Fonts */
  --font-serif: "Source Serif 4", serif;
  --font-body: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;

  /* Leading */
  --leading-tighter: 110%;
  --leading-tight: 120%;
  --leading-snug: 130%;
  --leading-base: 140%;
  --leading-loose: 170%;
  --leading-looser: 200%;

  /* Border radius */
  --border-radius-sm: 0.2rem;
  --border-radius-base: 0.4rem;
  --border-radius-lg: 0.6rem;

  /* Box Shadows */
  --box-shadow-sm:
    0.2px 0.2px 0.8px -10px rgba(40, 10, 0, 0.014),
    0.4px 0.4px 2px -10px rgba(40, 10, 0, 0.02),
    0.8px 0.8px 3.8px -10px rgba(40, 10, 0, 0.025),
    1.3px 1.3px 6.7px -10px rgba(40, 10, 0, 0.03),
    2.5px 2.5px 12.5px -10px rgba(40, 10, 0, 0.036),
    6px 6px 30px -10px rgba(40, 10, 0, 0.05);

  --box-shadow-md:
    1px 0.9px 2.3px -3px rgba(30, 10, 10, 0.04),
    2.4px 2.2px 5.5px -3px rgba(30, 10, 10, 0.05),
    4.5px 4.1px 10.4px -3px rgba(30, 10, 10, 0.06),
    8px 7.4px 18.5px -3px rgba(30, 10, 10, 0.07),
    15px 13.8px 34.7px -3px rgba(30, 10, 10, 0.08),
    36px 33px 83px -3px rgba(30, 10, 10, 0.2);

  --box-shadow-lg:
    0.2px 0.4px 0.8px -10px rgba(0, 0, 0, 0.03),
    0.4px 0.9px 2px -10px rgba(0, 0, 0, 0.03),
    0.8px 1.8px 3.8px -10px rgba(0, 0, 0, 0.038),
    1.3px 3.1px 6.7px -10px rgba(0, 0, 0, 0.045),
    2.5px 5.8px 12.5px -10px rgba(0, 0, 0, 0.06),
    6px 14px 30px -10px rgba(0, 0, 0, 0.08);

  /* Fluid spacing */
  --fc-3xs-min: (var(--fc-s-min) * 0.25);
  --fc-3xs-max: (var(--fc-s-max) * 0.25);

  --fc-2xs-min: (var(--fc-s-min) * 0.5);
  --fc-2xs-max: (var(--fc-s-max) * 0.5);

  --fc-xs-min: (var(--fc-s-min) * 0.75);
  --fc-xs-max: (var(--fc-s-max) * 0.75);

  --fc-s-min: (var(--f-0-min, 20));
  --fc-s-max: (var(--f-0-max, 22));

  --fc-m-min: (var(--fc-s-min) * 1.5);
  --fc-m-max: (var(--fc-s-max) * 1.5);

  --fc-l-min: (var(--fc-s-min) * 2);
  --fc-l-max: (var(--fc-s-max) * 2);

  --fc-xl-min: (var(--fc-s-min) * 3);
  --fc-xl-max: (var(--fc-s-max) * 3);

  --fc-2xl-min: (var(--fc-s-min) * 4);
  --fc-2xl-max: (var(--fc-s-max) * 4);

  --fc-3xl-min: (var(--fc-s-min) * 6);
  --fc-3xl-max: (var(--fc-s-max) * 6);

  --fc-4xl-min: (var(--fc-s-min) * 8);
  --fc-4xl-max: (var(--fc-s-max) * 8);

  /* T-shirt sizes */
  --space-3xs: calc(
    ((var(--fc-3xs-min) / 16) * 1rem) +
      (var(--fc-3xs-max) - var(--fc-3xs-min)) * var(--fluid-bp)
  );
  --space-2xs: calc(
    ((var(--fc-2xs-min) / 16) * 1rem) +
      (var(--fc-2xs-max) - var(--fc-2xs-min)) * var(--fluid-bp)
  );
  --space-xs: calc(
    ((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) *
      var(--fluid-bp)
  );
  --space-s: calc(
    ((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) *
      var(--fluid-bp)
  );
  --space-m: calc(
    ((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) *
      var(--fluid-bp)
  );
  --space-l: calc(
    ((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) *
      var(--fluid-bp)
  );
  --space-xl: calc(
    ((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) *
      var(--fluid-bp)
  );
  --space-2xl: calc(
    ((var(--fc-2xl-min) / 16) * 1rem) +
      (var(--fc-2xl-max) - var(--fc-2xl-min)) * var(--fluid-bp)
  );
  --space-3xl: calc(
    ((var(--fc-3xl-min) / 16) * 1rem) +
      (var(--fc-3xl-max) - var(--fc-3xl-min)) * var(--fluid-bp)
  );
  --space-4xl: calc(
    ((var(--fc-4xl-min) / 16) * 1rem) +
      (var(--fc-4xl-max) - var(--fc-4xl-min)) * var(--fluid-bp)
  );

  /* One-up pairs */
  --space-3xs-2xs: calc(
    ((var(--fc-3xs-min) / 16) * 1rem) +
      (var(--fc-2xs-max) - var(--fc-3xs-min)) * var(--fluid-bp)
  );
  --space-2xs-xs: calc(
    ((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-2xs-min)) *
      var(--fluid-bp)
  );
  --space-xs-s: calc(
    ((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-xs-min)) *
      var(--fluid-bp)
  );
  --space-s-m: calc(
    ((var(--fc-s-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-s-min)) *
      var(--fluid-bp)
  );
  --space-m-l: calc(
    ((var(--fc-m-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-m-min)) *
      var(--fluid-bp)
  );
  --space-l-xl: calc(
    ((var(--fc-l-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-l-min)) *
      var(--fluid-bp)
  );
  --space-xl-2xl: calc(
    ((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-xl-min)) *
      var(--fluid-bp)
  );
  --space-2xl-3xl: calc(
    ((var(--fc-2xl-min) / 16) * 1rem) +
      (var(--fc-3xl-max) - var(--fc-2xl-min)) * var(--fluid-bp)
  );
  --space-3xl-4xl: calc(
    ((var(--fc-3xl-min) / 16) * 1rem) +
      (var(--fc-4xl-max) - var(--fc-3xl-min)) * var(--fluid-bp)
  );

  /* Fluid type scale */
  /* @link https://utopia.fyi/type/calculator?c=320,20,1.25,1200,22,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

  --fluid-min-width: 320;
  --fluid-max-width: 1200;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 1200px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --f--2-min: 14.5;
  --f--2-max: 15;
  --font-size-xs: calc(
    ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
      var(--fluid-bp)
  );

  --f--1-min: 16;
  --f--1-max: 16.5;
  --font-size-sm: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );

  --f-0-min: 20;
  --f-0-max: 22;
  --font-size-base: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );

  --f-1-min: 25;
  --f-1-max: 28.6;
  --font-size-md: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );

  --f-2-min: 30;
  --f-2-max: 36;
  --font-size-lg: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );

  --f-3-min: 39.06;
  --f-3-max: 44;
  --font-size-xl: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );

  --f-4-min: 46.87;
  --f-4-max: 56;
  --font-size-2xl: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );

  --f-5-min: 57.6;
  --f-5-max: 81.8;
  --font-size-3xl: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  );

  --f-6-min: 76.29;
  --f-6-max: 106.34;
  --font-size-4xl: calc(
    ((var(--f-6-min) / 16) * 1rem) + (var(--f-6-max) - var(--f-6-min)) *
      var(--fluid-bp)
  );
}

/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* scroll-behavior: smooth; */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html,
body,
#root {
  height: 100%;
}

iframe {
  max-width: 100%;
}

/* _____________________ Base styles _____________________ */

body {
  background: var(--flexoki-paper);
  padding: var(--space-base);
  color: var(--flexoki-800);
}

h1,
h2 {
  font-family: var(--font-serif);
  font-weight: 500;
}

h1 {
  font-size: var(--font-size-3xl);
  font-family: var(--font-serif);
  line-height: var(--leading-tighter);
  font-weight: normal;
  margin-bottom: var(--space-s);
  max-width: 1200px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: var(--font-size-2xl);
    max-width: 100%;
    margin-bottom: var(--space-xs);
  }
}

h2 {
  font-size: calc(var(--font-size-xl) / 1.2);
  font-family: var(--font-serif);
  color: var(--flexoki-800);
  font-weight: 400;
  line-height: var(--leading-snug);
  margin: var(--space-xs) 0 var(--space-2xs);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: var(--font-size-lg);
  }
}

h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
}

p,
ul,
ol {
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--flexoki-cyan-600);
}

code {
  background: var(--flexoki-paper);
  padding: var(--space-8) var(--space-12);
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-base);
  line-height: var(--leading-base);
  font-family:
    IBM Plex Mono,
    Dank Mono,
    SF Mono,
    consolas;
}

/* Add styles for code blocks */
pre {
  width: 100%;
  overflow: scroll;
  padding: var(--space-24) var(--space-32);
  border-radius: 0.3em;
  font-size: calc(var(--font-size-sm) * 1.1);
  line-height: var(--leading-loose);
  font-family:
    IBM Plex Mono,
    Dank Mono,
    SF Mono,
    consolas;
  margin: 0 0 var(--space-m);
  tab-size: 3;
  -moz-tab-size: 3;
}

pre code {
  background: transparent;
  padding: 0;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Style inline code differently from code blocks */
:not(pre) > code {
  font-size: 0.9em;
  white-space: normal;
  word-wrap: break-word;
}

.metadata span,
span.metadata {
  font-size: var(--font-size-sm);
  font-family: var(--font-sans);
  color: var(--flexoki-600);
}

button {
  background-color: var(---flexoki-700);
  border: none;
  border-radius: var(---border-radius-sm);
  padding: var(--space-12) var(--space-24);
}

mark {
  background-color: var(--flexoki-yellow-100);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.small-caps {
  font-size: var(--font-size-xs) !important;
  font-family: var(--font-sans);
  font-weight: 700;
  color: var(--flexoki-800);
  text-transform: uppercase;
  letter-spacing: 0.06rem;
}

.blue {
  color: var(--flexoki-cyan-400);
}
