---
interface Editor {
	name: string;
	url: string;
	icon: string;
}

const blockEditors: Editor[] = [
	{
		name: "Notion",
		url: "https://notion.so",
		icon: "",
	},
	{
		name: "Roam Research",
		url: "https://www.roamresearch.com",
		icon: "",
	},
	{
		name: "Wordpress Gutenberg",
		url: "https://wordpress.org/gutenberg/",
		icon: "",
	},
	{
		name: "Google Docs",
		url: "https://docs.google.com",
		icon: "",
	},
	{
		name: "Coda",
		url: "https://coda.io",
		icon: "",
	},
	{
		name: "Clover",
		url: "https://clover.com",
		icon: "",
	},
	{
		name: "Almanac",
		url: "https://almanac.io/",
		icon: "",
	},
	{
		name: "Logseq",
		url: "https://logseq.com",
		icon: "",
	},
	{
		name: "Craft",
		url: "https://www.craft.do/",
		icon: "",
	},
	{
		name: "Remnote",
		url: "https://remnote.com",
		icon: "",
	},
	{
		name: "Innos Notes",
		url: "https://innos.io/",
		icon: "",
	},
];
---

<div class="editor-grid">
	{
		blockEditors.map((editor) => (
			<a href={editor.url} target="_blank" rel="noopener noreferrer">
				{editor.name}
			</a>
		))
	}
</div>
